
<ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-view>
    <ion-content class="has-header padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        
        <div class="list card">
            <div class="item" ng-repeat="item in productDetailList">
                <div class="row">
                    <div class="col col-25">
                        <div class="item-avatar">
                            <img src="../../images/user-male.png" />
                        </div>
                    </div>
                    <div class="col col-25">
                        <h3>{{item.name}}</h3>
                        <p>{{item.segment.category.name}}</p>
                    </div>
                    <div class="col col-50">
                        <div class="row row-centre">
                            <div class="col">
                                <div class="button button-icon ion-minus-circled" ng-click="minusQty(item.id)"></div>
                            </div>
                            <div class="col col-25">
                                {{returnNumber(item.id)}}
                            </div>
                            <div class="col">
                                <div class="button button-icon ion-plus-circled" ng-click="plusQty(item.id)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>