<ion-view view-title="Initial">
    <ion-content class="padding" href="#/retailers">
            <img src="../../smart-retail-logo.PNG" style="width:100%"  ng-click="gotoRetailers()"/>
    </ion-content>
    <div>
        <div class="bottom-text-bar">
            <ion-checkbox ng-model="data.agree">Agree Terms &amp; Conditions</ion-checkbox>
        </div>
    </div>
    <div class="bar bar-footer">
        <div class="title bar-royal">Copyright with Smart Retail Pvt Ltd.</div>
    </div>
</ion-view>
<style type="text/css">
    .bottom-text-bar {
        bottom: 45px;
        left: 0;
        position: fixed;
        right: 0;
        text-align: center;
    }
    .bottom-button {
        bottom: -10px;
        left: 0;
        position: fixed;
        right: 0;
    }
</style>