<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-royal">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button ng-click="openPopover($event)" class="button button-icon icon ion-android-more-vertical"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-royal">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home">
                    Home
                </ion-item>
                <ion-item nav-clear menu-close href="#/retailers">
                    Retailers
                </ion-item>
                <ion-item nav-clear menu-close href="#/login">
                    Login
                </ion-item>
                <ion-item nav-clear menu-close href="#/register">
                    Register
                </ion-item>
            </ion-list>
        </ion-content>
        <footer class="bar bar-footer">
            <h1 class="title">Retailer: <span style="color:blueviolet">{{retailer | uppercase}}</span></h1>
        </footer>
    </ion-side-menu>
</ion-side-menus>

<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content class="contendheight">
            <div class="list">
                <a class="item item-icon-left" href="#/profile" ng-click="closePopover()">
                    <i class="icon ion-person"></i>
                    Update Profile
                </a>

                <a class="item item-icon-left" href="#/vendorupdate" ng-click="closePopover()">
                    <i class="icon ion-android-person-add"></i>
                    Update Vendor
                </a>
                <a class="item item-icon-left" href="#/rateapp" ng-click="closePopover()">
                    <i class="icon ion-android-star"></i>
                    Rate this app
                </a>

                <a class="item item-icon-left" href="#/legal" ng-click="closePopover()">
                    <i class="icon ion-document"></i>
                    Legal
                </a>

                <a class="item item-icon-left" href="#/contactus" ng-click="closePopover()">
                    <i class="icon ion-android-contact"></i>
                    Contact Us
                </a>

            </div>
        </ion-content>
    </ion-popover-view>
</script>
