
<ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-view>
    <ion-nav-buttons side="primary">
        <label class="item-input">
            <i class="icon ion-android-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-change="searchSuggestion()" ng-model="data.searchkey">
        </label>
    </ion-nav-buttons>

    <ion-content class="has-header padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list" ng-show="suggestionShow">
            <div class="item" ng-repeat="text in searchList track by $index" ng-click="suggestionClick(text)">
                <p>{{text}}</p>
            </div>
        </div>

        <div class="list card" ng-show="productShow">
            <div class="item" ng-repeat="item in productDetailList track by $index">
                <div class="row">

                    <label>Qty</label>  
                    <div class="col col-25">
                        <div class="item-avatar">
                            <img src="../../images/user-male.png" />
                        </div>
                    </div>
                    <div class="col col-25">
                        <h3>{{item.name}}</h3>
                        <p>{{item.segment.category.name}}</p>
                    </div>
                    <div class="col col-5">
                        <div class="row row-centre">
                            <div class="col">
                                <div class="button button-icon ion-minus-circled" ng-click="minusQty(item.id)"></div>
                            </div>
                            <div class="col col-25">
                               {{returnNumber(item.id)}}
                            </div>
                            <div class="col">
                                <div class="button button-icon ion-plus-circled" ng-click="plusQty(item.id)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>