<ion-view view-title="Home">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="data.searchkey" ng-change="searchSuggestion()">
            <i class="icon ion-arrow-right-c placeholder-icon"></i>
        </label>
        <!--<ion-list>
        <ion-item item="item">
            Data goes here
        </ion-item>
    </ion-list>-->

        <button class="button button-block button-calm" ng-click="search()">Search</button>
    </ion-content>
</ion-view>