<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>Your Products are here.</div>
  <!-- <ion-view>
       <div class="item" ng-repeat="prod in productsCart">           
               <div class="row">
                   <div class="col col-75">
                       <h2 style="color:mediumvioletred"><strong>{{prod.Category | uppercase}}</strong></h2>
                       <h3>{{prod.productDesc}}</h3>
                       <h3>{{prod.productName}}</h3>
                       <h2>{{prod.productId}}</h2>
                       
                   </div>
                   <!--<div class="col col-25">
                       <h4>{{ret.storeaddress.zipCode}}</h4>
                   </div>
               </div>       

       </div>
   </ion-view>-->
</body>
</html>