<ion-view view-title="Home">
    <ion-nav-buttons side="primary">
        <a style="color: white;" class="button button-icon icon ion-ios-search-strong" href="#/app/productsuggestion"></a>
        <div>
            <a style="color: white;" class="button button-icon icon ion-ios-cart" href="#/app/addToCart">
                <span class="badge badge-assertive" ng-show="parentObj.cartCount !== 0">{{parentObj.cartCount}}</span>
            </a>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <ion-slide-box does-continue="true"
                       auto-play="true"
                       slide-interval="3000"
                       show-pager="true"
                       pager-click="changeSlide(index)">
            <ion-slide ng-repeat="id in [1,2,3]">
                <img ng-src="../../images/banner-add ({{id}}).jpg" style="width:300px;height:300px;margin:auto;display:block">
            </ion-slide>
        </ion-slide-box>
        <button class="button button-block" ng-click="showAlert()">
            Daily Needs
        </button>
        <button class="button button-block" ng-click="showPopup()">
            Non-Daily Needs
        </button>
        <button class="button button-block">
            Track Order History
        </button>
        <button class="button button-block">
            Wishlist
        </button>
    </ion-content>
