.spinner {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 300;
}

.spinnerBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.3;
}

.spinnerSpinner {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    top: 50%;
    width: 80px;
    height: 80px;
}

.spinnerSpinner svg {
    width: 80px;
    height: 80px;
    stroke: #b59751;
}
.imgcontainer {
   width: 48px;
   height: 48px;
}

.imgcontainer img {
   width: 100%;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 5px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}