<ion-view view-title="feedback">
    <ion-header-bar class="bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear icon ion-bag"></button>
        </div>
        <div class="title">Feedback</div>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <form ng-submit="submitfeedback()">
            <textarea placeholder="Share your feedback with us" rows="5" cols="80" maxlength="300" ng-model="form.feedbackText"></textarea>
            <div class="row">
                <div class="col col:100">
                    <button class="button button-small button-assertive" ng-click="cancel()">Cancel</button>
                </div>
                <button class="button button-small button-positive" ng-click="submit">Submit</button>
            </div>
        </form>
    </ion-content>
</ion-view>