<ion-view title="Terms and Condition">
    <ion-header-bar class="bar-header bar-royal">
        <div class="title"></div>
        <div class="buttons">
            <button class="button button-clear icon ion-document"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <h5>
            All copyright, trade marks, design rights, patents and other intellectual property rights (registered and unregistered) in and on BBC Online Services and BBC Content belong to the BBC and/or third parties (which may include you or other users). The BBC reserves all of its rights in BBC Content and BBC Online Services. Nothing in the Terms grants you a right or licence to use any trade mark, design right or copyright owned or controlled by the BBC or any other third party except as expressly provided in the Terms.
       </h5>

        <button class="button button-calm button-block" ng-click="confirmTerms()">Accept</button>
        
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title">CopyRight with SmartRetail Pvt Ltd</div>
    </div>



</ion-view>